/* main */
:root {
  --blue1: rgb(153,193,241);
  --blue2: rgb(98,160,234);
  --blue3: rgb(53,132,228);
  --blue4: rgb(28,113,216);
  --blue5: rgb(26,95,180);
  --green1: rgb(143,240,164);
  --green2: rgb(87,227,137);
  --green3: rgb(51,209,122);
  --green4: rgb(46,194,126);
  --green5: rgb(38,162,105);
  --yellow1: rgb(249,240,107);
  --yellow2: rgb(248,228,92);
  --yellow3: rgb(246,211,45);
  --yellow4: rgb(245,194,17);
  --yellow5: rgb(229,165,10);
  --orange1: rgb(255,190,111);
  --orange2: rgb(255,163,72);
  --orange3: rgb(255,120,0);
  --orange4: rgb(230,97,0);
  --orange5: rgb(198,70,0);
  --red1: rgb(246,97,81);
  --red2: rgb(237,51,59);
  --red3: rgb(224,27,36);
  --red4: rgb(192,28,40);
  --red5: rgb(165,29,45);
  --purple1: rgb(220,138,221);
  --purple2: rgb(192,97,203);
  --purple3: rgb(145,65,172);
  --purple4: rgb(129,61,156);
  --purple5: rgb(97,53,131);
  --brown1: rgb(205,171,143);
  --brown2: rgb(181,131,90);
  --brown3: rgb(152,106,68);
  --brown4: rgb(134,94,60);
  --brown5: rgb(99,69,44);
  --light1: rgb(255,255,255);
  --light2: rgb(246,245,244);
  --light3: rgb(222,221,218);
  --light4: rgb(192,191,188);
  --light5: rgb(154,153,150);
  --dark1: rgb(119,118,123);
  --dark2: rgb(94,92,100);
  --dark3: rgb(61,56,70);
  --dark4: rgb(36,31,49);
  --dark5: rgb(0,0,0);
  --text: #f6f5f4;
  --border-radius: 8px;
}

/* FONTS */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/assets/fonts/Inter-roman.var.woff2?v=3.18") format("woff2");
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
  color: var(--text);
  background: #222;
}

@media (min-width: 700px) {
  body {
    font-size: 18px;
  }
}

::selection {
  color: var(--light1);
  background-color: var(--purple3);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 3rem;
  font-weight: 800;
  line-height: 1.25;
  font-variation-settings: "wght" 800; /* needed for webkit */
}
a {
  color: var(--green1);
}

.layout {
  display: grid;
  width: 100vw; height: 100vh;
  place-items: center;
  justify-content: center;
  width: 100vw;
  gap: 3rem;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
  "txt"
  "log";
}

   @media only screen and (min-width: 1600px) { /* superwide */
    .layout {
      grid-template-areas: "txt log";
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
    }
    .layout.song { grid-template-areas: "txt"; grid-template-columns: 1fr; }
  }
  
  .layout.song { grid-template-areas: "txt"; grid-template-columns: 1fr; }
  

video {
  object-fit: cover;
  z-index: -1;
  width: 100vw; height: 100vh;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.videofx1, .videofx2 {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
  width: 100vw; height: 100vh;
}
.videofx1 {
  background: radial-gradient(ellipse at center, #ffe 0%, #323 100%);
  opacity: 0.1;
}

  @supports (mix-blend-mode: darken;) {
    .videofx1 {
      mix-blend-mode: darken;
      opacity: 1;
    }
  }

.videofx2 {
  background: url(assets/img/grain.webp) repeat;
  background-size: 256px;
  mix-blend-mode: hard-light;
  animation: grain 200ms step-start infinite;
  opacity: 0.2;
}

@keyframes grain {
  0% { background-position: center; }
  10% { background-position: 123px 50px; }
  20% { background-position: 200px 0; }
  30% { background-position: 0px -23px; }
  40% { background-position: 20px 30px; }
  50% { background-position: 12px 130px; }
  60% { background-position: -42px -13px; }
  80% { background-position: 30px 56px; }
  90% { background-position: -312px 342px; }
  100% { background-position: 60px -10px; }
}

/* can't get the mobile layout to work properly and video isn't played back anyway, just hide */
@media only screen and (max-width: 640px) {
  .videofx1, .videofx2, video { display: none; }
}

.text-overlay {
  grid-area: txt;
  z-index: 3;
  padding: 1rem;
  margin: 0;
}

@media (min-width: 640px) {
  .text-overlay {
    max-width: 50em;
    padding: 1rem 3rem;
  }
}

.text-overlay span {
  background-color: rgba(0,0,0,0.3);
  padding: 0.1em;
}

/* pixel logo (gone now) and album covers */
.text-overlay .graphic {
  max-width: 15em;
  display: block;
  margin: 3em auto;
  mix-blend-mode: hard-light; /* won't work now with the explicit z-index of the text-overlay :( */
  border-radius: 5px;
}
  .text-overlay #pixelogo path {
    opacity: 0.8;
    fill: var(--blue3);
    filter: drop-shadow(0 2px 1px black) blur(0);
    animation: colorblend 10s linear infinite alternate;
  }
  
.text-overlay ul {
  margin: 0; padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

  .text-overlay ul li a {
    display: grid;
    font-weight: 800;
    color: var(--light1);
    background-color: rgba(255,255,255,0.1);
    padding: 1rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: all 100ms ease; /* cubic-bezier(0.49, 0.49, 0.22, 1); */
    grid-template-columns: 32px 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;
  }
  
  .text-overlay ul li a:hover {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.8);
    color: var(--dark5);
  }

  .text-overlay ul li a svg { width: 32px; height: 32px; }
  .text-overlay ul li a svg path { fill: var(--light1); }
  .text-overlay ul li a:hover svg path { fill: var(--dark5); }
  
.text-overlay .albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  text-align: left;
  margin-bottom: 3rem;
}
  .text-overlay ul.albums li a {
    display: block;
    grid-template-columns: inherit;
    padding: 8px;
    background-color: rgba(255,255,255,0.0);
  }
  .text-overlay ul.albums li a:hover {
    background-color: rgba(255,255,255,0.4);
  }
  .text-overlay .albums img {
    display: block;
    width: 100%;
    border-radius: 5px;
  }
  .text-overlay .albums p {
    font-size: 11pt;
    margin: 0;
  }
    .text-overlay .albums p.title { margin-top: 8px; font-size: 70%; }
    .text-overlay .albums p.year { font-weight: normal; font-size: 50%; }


@keyframes colorblend {
  0%  { fill: var(--blue3); filter: drop-shadow(0 2px 1px rgba(0,0,0,0.5)) blur(0);}
  1% { fill: var(--purple3); filter: drop-shadow(0 1px 1px rgba(0,0,0,0)) blur(10px);}
  2%  { fill: var(--blue3); filter: drop-shadow(0 2px 1px rgba(0,0,0,0.5)) blur(0);}
  66% { fill: var(--orange3); filter: drop-shadow(0 2px 1px rgba(0,0,0,0.5)) blur(0); transform: translateY(0) skewX(0);}
  67% { fill: var(--orange3); filter: drop-shadow(0 2px 1px rgba(0,0,0,0.5)) blur(0); transform: translateY(400px) skewX(200deg); }
  68% { fill: var(--orange3); filter: drop-shadow(0 2px 1px rgba(0,0,0,0.5)) blur(0); transform: translateY(0) skewX(0);}
  100% { fill: var(--red3); filter: drop-shadow(0 2px 1px rgba(0,0,0,1)) blur(0);}
}

#logos {
  grid-area: log;
  mix-blend-mode: overlay;
  isolation: isolate;
  z-index: 3;
  padding: 0 0 3rem 0;
}

  #logos>div {
    display: grid;
    gap: 1rem;  
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
    padding: 1rem;
  }
  
  @media only screen and (min-width: 640px) { /* normal */
    #logos>div { 
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media only screen and (min-width: 1600px) { /* superwide */
    #logos>div { 
      grid-template-columns: 1fr;
      padding: 0 3rem 0 0;
    }
  }

  #logos svg { width: 100%; }
  #logos a {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
  }
  #logos a:hover { transform: scale(1.2); }
  #logos path {
    fill: var(--light4);
  }
  
    #logos a:hover path {
      fill: var(--light1);
    }

.bln {
  display: block;
  grid-area: bln;
}
