/* main */
:root {
  --blue1: rgb(153,193,241);
  --blue2: rgb(98,160,234);
  --blue3: rgb(53,132,228);
  --blue4: rgb(28,113,216);
  --blue5: rgb(26,95,180);
  --green1: rgb(143,240,164);
  --green2: rgb(87,227,137);
  --green3: rgb(51,209,122);
  --green4: rgb(46,194,126);
  --green5: rgb(38,162,105);
  --yellow1: rgb(249,240,107);
  --yellow2: rgb(248,228,92);
  --yellow3: rgb(246,211,45);
  --yellow4: rgb(245,194,17);
  --yellow5: rgb(229,165,10);
  --orange1: rgb(255,190,111);
  --orange2: rgb(255,163,72);
  --orange3: rgb(255,120,0);
  --orange4: rgb(230,97,0);
  --orange5: rgb(198,70,0);
  --red1: rgb(246,97,81);
  --red2: rgb(237,51,59);
  --red3: rgb(224,27,36);
  --red4: rgb(192,28,40);
  --red5: rgb(165,29,45);
  --purple1: rgb(220,138,221);
  --purple2: rgb(192,97,203);
  --purple3: rgb(145,65,172);
  --purple4: rgb(129,61,156);
  --purple5: rgb(97,53,131);
  --brown1: rgb(205,171,143);
  --brown2: rgb(181,131,90);
  --brown3: rgb(152,106,68);
  --brown4: rgb(134,94,60);
  --brown5: rgb(99,69,44);
  --light1: rgb(255,255,255);
  --light2: rgb(246,245,244);
  --light3: rgb(222,221,218);
  --light4: rgb(192,191,188);
  --light5: rgb(154,153,150);
  --dark1: rgb(119,118,123);
  --dark2: rgb(94,92,100);
  --dark3: rgb(61,56,70);
  --dark4: rgb(36,31,49);
  --dark5: rgb(0,0,0);
  --text: #f6f5f4;
}

/* FONTS */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/assets/fonts/Inter-roman.var.woff2?v=3.18") format("woff2");
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}

@media (min-width: 700px) {
  html, body {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 3rem;
  font-weight: 800;
  line-height: 1.25;
  font-variation-settings: "wght" 800; /* needed for webkit */
}
a {
  color: var(--green1);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background: #222;
}

body>video {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: block;
  object-fit: cover;
  z-index: -1;
  height: 100vh; width: 100vw; 
  aspect-ratio: 1 / 1;
}

@supports (mix-blend-mode: overlay) { /* thought I could work arount webkitgtk */
  .videofx1, .videofx2 {
    content: "";
    width: 100vw;
    height: 100vh;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 2;
  }
  .videofx1 {
    background: radial-gradient(ellipse at center, #ffe 0%, #323 100%);
    mix-blend-mode: darken;
    opacity: 1;
  }
  .videofx2 {
    background: url(assets/img/grain.webp) repeat;
    background-size: 256px;
    mix-blend-mode: hard-light;
    animation: grain 100ms step-start infinite alternate;
    opacity: 0.2;
  }

  @keyframes grain {
    0% { background-position: center; }
    20% { background-position: 200px 0; }
    40% { background-position: 20px 30px; }
    50% { background-position: 12px 130; }
    80% { background-position: 30px 56px; }
    100% { background-position: 60px -10px; }
  }
}

body>.text-overlay {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: block;
  width: 80vw;
  z-index: 3;
}
@media (min-width: 640px) {
  body>.text-overlay { width: 30em; }
}

.text-overlay span {
  background-color: rgba(0,0,0,0.3);
  padding: 0.1em;
}

.text-overlay svg {
  max-width: 15em;
  display: block;
  margin: 0 auto;
}
  .text-overlay .blend-container {
    mix-blend-mode: screen;
  }
  .text-overlay svg path {
    fill: var(--blue3);
    animation: colorblend 10s linear infinite alternate;
  }
  
@keyframes colorblend {
  0%  { fill: var(--blue3); }
  33% { fill: var(--purple3); }
  66% { fill: var(--orange3); }
  100% { fill: var(--red3); }
}
